.input {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  display: block;
}

.error {
  border: solid red 2px;
}

.error-text {
  color: red;
  font-weight: bold;
}